//about-us
.about-us {
    padding-top: 30px;
    h2 {
        text-align: center;
        color: $primaryColor;
        font-size: 44px;
        font-weight: bold;
    }
    h4 {
        color: $primaryColor;
        font-size: 34px;
        font-weight: bold;
    }
    img {
        width: 100%;
    }
}
.juncao__start {
    background-color: $primaryColor;
    &-text {
        padding: 80px 30px;
        text-align: center;
        color: #fff;
    }
}
.juncao__end {
    padding-bottom: 25px;
}

.problem__decision-section {
    background: $primaryColor;
    .mobile__dark,
    .mobile__green {
        padding: 50px 30px;
        svg {
            width: 80px;
            height: 80px;
            display: block;
            margin: 0 auto;
            margin-bottom: 40px;
        }
    }
    .mobile__dark {
        color: $secondaryColor;
        svg {
            fill: $secondaryColor;
        }
    }
    .mobile__green {
        color: #fff;
        svg {
            fill: #fff;
        }
    }
}

.advice__text {
    padding: 60px;
    font-style: italic;
    font-size: 24px;
    font-weight: 700;
}

// dfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfjo
.adoptogen {
    padding: 100px 0;
    background-color: $primaryColor;
    p {
        text-align: center;
        margin: 40px;
        font-weight: bold;
    }
}
.adoptogen-item {
    padding: 30px 20px;
    height: 100%;
    background-color: $secondaryColor;
    color: #fff;
    border-radius: 50px;
}
.millions {
    padding: 70px 0;
    color: $primaryColor;
    font-family: "Playfair Display", serif;
    font-style: italic;
    background-color: $secondaryColor;
    font-size: 20px;
}

.choise-block {
    background: url(../img/trietary-bg.png);
    background-size: cover;
    background-position: center;
    font-family: "PT Serif", serif;
    font-size: 28px;
    color: #212121;
    text-align: center;
    padding: 70px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    .order-btn {
        font-size: 18px;
        color: #fff;
        background-color: #ff6a00;
        padding: 3px 40px;
        margin-top: 30px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        svg {
            width: 1em;
            margin-left: 10px;
        }
        &:hover {
            background-color: #d95a00;
        }
    }
}

@media (max-width: 575px) {
    .about-us h4 {
        font-size: 28px;
    }
    .advice__text {
        padding: 60px 0;
    }
    .choise-block {
        padding: 50px 5px;
        font-size: 20px;
    }
}
