.form {
    padding: 100px 0;
    h5 {
        color: $primaryColor;
        font-weight: bold;
    }
    form {
        margin-top: 50px;
    }
    .order-btn {
        background-color: $primaryColor;
        color: #fff;
        svg {
            fill: #fff;
        }
        &:hover {
            background-color: #d95a00;
        }
    }
    textarea {
        resize: none;
    }
}
.form-group {
    position: relative;
    margin-bottom: 1rem;
    .form-control {
        border: 1px solid $primaryColor;
        padding: 10px 20px;
        color: #000;
        border-radius: 0;
        height: auto;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    .focus-border {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0%;
        height: 3px;
        transform: translateX(-50%);
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
}
